<button {{action 'openModal'}}>licenses</button>

<div class="modal">

    <div class="modal-content">
        <span class="close" {{action 'hideModal'}}>x</span>
        <p>{{content}}</p>
    </div>

</div>