{{! based on http://www.w3schools.com/howto/howto_css_modals.asp}}
{{! TODO: parameterize text}}
<a {{action 'openModal'}}>licenses</a>

<div class='modal'>
    <div class='modal-content'>
        <span class='close' {{action 'hideModal'}}>x</span>
        <p>{{content}}</p>
    </div>
</div>
